{% extends 'core/master.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  <header>
    {% include 'partials/navbar.html' %}
  </header>
  
  <main>
    {% comment %} Landing page {% endcomment %}
    <div class="container mt-5">
      <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ge-5" style="margin-right: 0rem !important;">
          <div class="">
            <div style="font-size: 3.89rem;" class="text-white hero-text ps-2 ms-1">{% trans "We support you in any concern !" %}</div>
            <div>
              <p class='text-white ps-2 ms-1' style='margin-top: 3rem !important; opacity: 70%;'>{% trans "We Find A Solution To Your Idea…" %}</p>
            </div>

            <div style='margin-top: 8rem !important;'>
              <div class="d-grid gap-2 d-md-block ps-2 ms-1">
                <a class="btn btn-dark btn-lg btn-moon me-3 ps-5 pe-5 pt-3 pb-3" href="#foundnow" type="button">{% trans "Found Now!" %}</a>
                <button class="btn btn-lg btn-block btn-outline-light me-3 ps-5 pe-4 pt-3 pb-3" type="button">{% trans "Book A Meeting" %}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
          <div class="container mt-5 pt-5 ms-3 " >
            <img class='img-fluid mx-auto d-block mt-3' src="{% static 'images/main.png' %}" alt="" srcset="" width="828rem !important" height="595.66rem">
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 18rem !important;">
      <div class="row justify-content-center">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
          <div class="card h-100 " style="background: transparent linear-gradient(180deg, #A610BF9B 0%, #3753F395 100%) 0% 0% no-repeat padding-box; border-radius: 1.125rem; opacity: 1;">
            <div class="card-body">
              <p class='text-white pt-3 ps-3 mt-3' style="font-size: 1.375rem;">{% trans "Start-up Supporter" %}</p>
              <ul class='ul-moon'>
                <li>{% trans "Start-up advice" %}</li>
                <li>{% trans "Business model planning" %}</li>
                <li>{% trans "Cash start-ups (free*)" %}</li>
                <li>{% trans "Qualified start-ups" %}</li>
                <li>{% trans "For foreign companies" %}</li>
                <li>{% trans "Fiscal representation" %}</li>
                <li>{% trans "Management mandate" %}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 pt-4">
          <div class="card h-100 " style="background: transparent linear-gradient(180deg, #A610BF9B 0%, #3753F395 100%) 0% 0% no-repeat padding-box; border-radius: 1.125rem; opacity: 1;">
            <div class="card-body">
              <p class='text-white pt-3 ps-3 mt-3' style="font-size: 1.375rem;">{% trans "Accountant (from 2000.-**)" %}</p>
              <ul class='ul-moon'>
                <li>{% trans "Management of financial accounting incl. annual accounts" %}</li>
                <li>{% trans "Management of all sub-ledgers such as accounts receivable, accounts payable, payroll accounting" %}</li>
                <li>{% trans "Value added tax accounting with advice" %}</li>
                <li>{% trans "Tax return incl. advice & optimisation" %}</li>
                <li>{% trans "Social security declarations with advice" %}</li>
                <li>{% trans "Review of your bookings, if you book yourself" %}</li>
                <li>{% trans "GV protocol" %}</li>
                <li>{% trans "Digital document archiving included" %}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 mt-4 g-3">
          <div class="card h-100 " style="background: transparent linear-gradient(180deg, #A610BF9B 0%, #3753F395 100%) 0% 0% no-repeat padding-box; border-radius: 1.125rem; opacity: 1;">
            <div class="card-body">
              <p class='text-white pt-3 ps-3 mt-3' style="font-size: 1.375rem;">{% trans "Controller" %}</p>
              <ul class='ul-moon'>
                <li>{% trans "Reporting for investors & management" %}</li>
                <li>{% trans "Development of key figures (strategic & operational)" %}</li>
                <li>{% trans "Comprehensive budget, financial & business planning" %}</li>
                <li>{% trans "Investment calculations" %}</li>
                <li>{% trans "Value-added analyses" %}</li>
                <li>{% trans 'Contribution margin calculations (direct costing)' %}</li>
                <li>{% trans 'Management mandate' %}</li>
                <li>{% trans 'Full costing' %}</li>
                <li>{% trans 'Variance analyses' %}</li>
                <li>{% trans 'Optimisation & automation of financial processes' %}</li>
                <li>{% trans 'Individual consulting' %}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 mt-4 g-3">
          <div class="card h-100 " style="background: transparent linear-gradient(180deg, #A610BF9B 0%, #3753F395 100%) 0% 0% no-repeat padding-box; border-radius: 1.125rem; opacity: 1;">
            <div class="card-body">
              <p class='text-white pt-3 ps-3 mt-3' style="font-size: 1.375rem;">{% trans 'CFO' %}</p>
              <ul class='ul-moon'>
                <li>{% trans 'Management of your financial accounting' %}</li>
                <li>{% trans 'Management of the finance department' %}</li>
                <li>{% trans 'Balance sheet and profit and loss analyses' %}</li>
                <li>{% trans 'Profitability calculations' %}</li>
                <li>{% trans 'Cost accounting' %}</li>
                <li>{% trans 'Support with fundraising' %}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center pb-5">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 mt-4">
          <div class="card " style="background: transparent linear-gradient(180deg, #A610BF9B 0%, #3753F395 100%) 0% 0% no-repeat padding-box; border-radius: 13px; opacity: 1;">
            <div class="card-body mb-5">
              <p class='text-white pt-3 ps-3 mt-3' style="font-size: 1.375rem;">{% trans "Auditor" %}</p>
              <ul class='ul-moon'>
                <li>{% trans 'Limited audit (from 2000.-)' %}</li>
                <li>{% trans 'Ordinary audit (in cooperation with partner companies)' %}</li>
                <li>{% trans 'Foundation audit (from 500.-)' %}</li>
                <li>{% trans 'Business valuation (from 3000.-)' %}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="background-color: #1A1D24" class="mt-4" id="about">
      <div class="container">
        <p class='text-center' style='padding-top: 8rem !important; color: #CD3DEB; font-size: 1.125rem;'>{% trans 'WHO WE ARE' %}</p>
        <p class='text-center text-white mt-2' style='font-size: 2.625rem;'>{% trans 'Lorem ipsum dolor sit amet' %}</p>
        <p class='text-center text-white mt-2' style='font-size: 1.125rem; opacity: 70%;'>{% trans 'Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor <br/> Invidunt Ut Labore Et Dolore Magna Aliquyam Erat' %}</p>

        <div class="container pb-5">
          <div class="row mt-5 pb-5">
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4 ">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mx-auto d-block mt-5' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <h5 class='text-center pt-3 text-white' >{% trans 'Lorem ipsum' %}</h5>
                  <p class='text-center pt-1 text-white' style="font-size: .89rem; opacity: 70%;">{% trans 'Lorem Ipsum Dolor Sit Amet Consetr <br/> Sadipscing Elitr Sed' %}</p>
                  <a class="nav-link text-center" href="" style="color: #CD3DEB">{% trans 'LEARN MORE' %}</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 mt-4 g-3">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mx-auto d-block mt-5' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <h5 class='text-center pt-3 text-white' >{% trans 'Lorem ipsum' %}</h5>
                  <p class='text-center pt-1 text-white' style="font-size: .89rem; opacity: 70%;">{% trans 'Lorem Ipsum Dolor Sit Amet Consetr <br/> Sadipscing Elitr Sed' %}</p>
                  <a class="nav-link text-center" href="" style="color: #CD3DEB">{% trans 'LEARN MORE' %}</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 mt-4 g-3">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mx-auto d-block mt-5' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <h5 class='text-center pt-3 text-white' >{% trans 'Lorem ipsum' %}</h5>
                  <p class='text-center pt-1 text-white' style="font-size: .89rem; opacity: 70%;">{% trans 'Lorem Ipsum Dolor Sit Amet Consetr <br/> Sadipscing Elitr Sed' %}</p>
                  <a class="nav-link text-center" href="" style="color: #CD3DEB">{% trans 'LEARN MORE' %}</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    {% comment %} Services for Companies {% endcomment %}
    <div id="forcompanies" style=" margin-top: 3rem !important;" class="pb-5" >
      <div class="container">
        <p class='text-center' style='margin-top: 3rem !important; color: #CD3DEB; font-size: 1.125rem;'>{% trans 'SERVICES' %}</p>
        <p class='text-center text-white' style='font-size: 2.625rem;'>{% trans 'Service For Companies' %}</p>

        <div class="container p-3">
          <div class="row pt-2">

            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Accounting & Tax: <br/> Bookkeeping incl. annual <br/> accounts & tax return' %}</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">Controlling & Reporting:<br/> Reporting for investors / <br/> management</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'CFO-as-a-service: Part- <br/> time or ad <br/> interim CFO for startups' %}</p>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Start-up support: start-up advice + <br/> simple/qualified start-up with form <br/> see appendix, domicile service <br/> and advice for foreigners' %}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Business planning: <br/> Budgeting, business incl. <br/> finance plan' %}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Valuation: company <br/> valuation' %}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Audit: limited audit and <br/> ordinary audit in cooperation <br/> with partner companies' %}</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Fiduciary support: <br/> support from <br/> trustees at flat rates' %}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% comment %} Service For Investors {% endcomment %}
    <div id="forinvestors" style="background-color: #1A1D24; margin-top: 3rem !important;" class="pb-5">
      <div class="container pt-5">
        <p class='text-center' style='color: #CD3DEB; font-size: 1.125rem;'>{% trans 'SERVICES' %}</p>
        <p class='text-center text-white' style='font-size: 2.625rem;'>{% trans 'Service For Investors' %}</p>

        <div class="container p-3">
          <div class="row pt-2">

            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Accounting & Tax: <br/> Bookkeeping incl. annual <br/> accounts & tax return' %}</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Controlling & Reporting:<br/> Reporting for investors / <br/> management' %}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'CFO-as-a-service: Part- <br/> time or ad <br/> interim CFO for startups' %}</p>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Start-up support: start-up advice + <br/> simple/qualified start-up with form <br/> see appendix, domicile service <br/> and advice for foreigners' %}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Business planning: <br/> Budgeting, business incl. <br/> finance plan' %}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Valuation: company <br/> valuation' %}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Audit: limited audit and <br/> ordinary audit in cooperation <br/> with partner companies' %}</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 pt-4">
              <div class="card h-100" style="background-color: #232730; border-radius: 1rem;">
                <div class="card-body">
                  <img class='mt-3 ms-2' src=" {% static 'images/coding-1.svg' %} " alt="" srcset="">
                  <p class='mt-3 ms-2 mb-5 text-white' style="font-size: .89rem;">{% trans 'Fiduciary support: <br/> support from <br/> trustees at flat rates' %}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% comment %} Form {% endcomment %}
    <div class="container" id='foundnow' style='padding-top: 5rem !important;'>
      <form action="{% url 'send_mail' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
          <div class="col-md-11 col-sm-12 col-lg-11">
            <div class="card" style="background-color: #232730; border-radius: 1rem; color: #FFFFFF;">
              <div class="card-body mt-3">
                <p class='text-center' style=' color: #FFFFFF; font-size: 2.625rem;'>{% trans 'Information on the foundation' %}</p>
                <div class="container ps-5 pe-5">
                  <p style="font-size: 1.375rem;">{% trans 'Company details' %}</p>
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans 'Legal form' %}</label>
                        <input name="legal_form" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder=" {% trans 'Gmbh, AG, …' %} ">
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans 'Company' %}</label>
                        <input name="company" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="{% trans 'Handelsfirma Gmbh' %}">
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans 'Corporate purpose' %}</label>
                        <textarea name='legal_form_two' class="form-control bg-transparent text-white" id="exampleFormControlTextarea1" rows="5" placeholder="{% trans 'Gmbh, AG, …' %}"></textarea> 
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans 'Headquarters - Street' %}</label>
                        <input name="headquarter_street" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder=" {% trans 'Lorem Ipsum' %} ">
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans 'Registered office - postal code / city' %}</label>
                        <input name="postal_code" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder=" {% trans 'Lorem Ipsum' %} ">
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans 'Headquarters - Street' %}</label>
                        <input name="headquarter_street_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder=" {% trans 'Lorem Ipsum' %} ">
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans 'Registered office - postal code / city' %}</label>
                        <input name="postal_code_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder=" {% trans 'Lorem Ipsum' %} ">
                      </div>
                    </div>
                  </div>

                  <p class='pt-1 pb-1' style="font-size: 1.625rem;">Gründerangaben</p>
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans 'Forename' %}</label>
                        <input name="forename" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder=" {% trans 'Lorem Ipsum' %} ">
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans "Surname" %}</label>
                        <input name="surname" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder=" {% trans 'Lorem Ipsum' %} ">
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans "Date of birth" %}</label>
                        <input name="dob" type="date" class="form-control bg-transparent text-white p-3" id="" placeholder=" {% trans 'Lorem Ipsum' %} ">
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans "Telephone number" %}</label>
                        <input name="telephone" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder=" {% trans 'Lorem Ipsum' %} ">
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="StreetNumber" class="form-label">{% trans "Street + Number" %}</label>
                        <input name="street_number" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder= "{% trans 'Lorem Ipsum' %}" >
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="Postal Code City" class="form-label">{% trans "Postal code / city" %}</label>
                        <input name="postal_code_city"  type="text" class="form-control bg-transparent text-white p-3" id="" placeholder='{% trans "Lorem Ipsum" %}'>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="Hometown / Home country for non-Swiss" class="form-label">{% trans "Hometown / Home country for non-Swiss" %}</label>
                        <input name="hometown" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder='{% trans "Hometown / Home country for non-Swiss" %}'>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="Nationality" class="form-label">{% trans "Nationality" %}</label>
                        <input name="nationality" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder='{% trans "Nationality" %}'>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="E-Mail" class="form-label">{% trans "E-Mail" %}</label>
                        <input name="email" type="email" class="form-control bg-transparent text-white p-3" id="" placeholder='{% trans "E-Mail" %}'>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="Share of share capital" class="form-label">{% trans "Share of share capital" %}</label>
                        <input name="share_capital" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder='{% trans "Share of share capital" %}'>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="Activity" class="form-label">{% trans "Activity" %}</label>
                        <input name="activity" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder='{% trans "Activity" %}'>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">Zeichnungsberechtigung</label>
                        <input name="unreadable" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Zeichnungsberechtigung">
                      </div>
                    </div>
                  </div>
                  {% comment %} Extra Field dynamic {% endcomment %}
                  <div class="field_wrapper"></div>
                  <a href="javascript:void(0);" class='add_button btn btn-dark ps-4 pe-4 pt-3 pb-3 mb-3' style="font-size: 1.125rem; background: transparent linear-gradient(77deg, #245EFB 0%, #B308B8 100%) 0% 0% no-repeat padding-box;" >{% trans '+ Other founders' %}</a>
                  
                  <div class="row justify-content-center mb-3">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <div class="mb-3">
                        <label for="" class="form-label">{% trans 'Remarks' %}</label>
                        <textarea class="form-control bg-transparent text-white mb-3" id="exampleFormControlTextarea1" rows="5" placeholder="{% trans 'Remarks' %}"></textarea> 
                        {% comment %} Submit Button {% endcomment %}
                        <input type="submit" class='btn btn-dark ps-4 pe-4 pt-3 pb-3' style="font-size: 1.125rem; background: transparent linear-gradient(77deg, #245EFB 0%, #B308B8 100%) 0% 0% no-repeat padding-box;" value="{% trans 'Found now!' %}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    {% comment %} Footer {% endcomment %}
    <div class="footer" style="margin-top: 8rem !important; margin-bottom: 8rem !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="">
              <img class='' src="{% static 'images/moon.png' %}" alt="" width="190rem" height="69rem">
              <p class='mt-3' style="color: #ffffff; opacity: 50%;">{% trans 'Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing <br/> Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut <br/> Labore Et Dolore Magna Aliquyam Era' %}</p>
              
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item bg-transparent"><img src=" {% static 'images/facebook.svg' %} " alt=""></li>
                <li class="list-group-item bg-transparent"><img src=" {% static 'images/instagram.svg' %} " alt=""></li>
                <li class="list-group-item bg-transparent"><img src=" {% static 'images/twitter.svg' %} " alt=""></li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-sm-12" style="margin-left: 0rem !important;">
            <div class="row justify-content-center" style="color: white">
              <div class="col" style="margin-left: 5rem !important;">
                <h5 style="font-size: 1.125rem;">{% trans 'Company' %}</h5>
                <ul class="no-bullet opacity-moon">
                  <li>{% trans 'Lorem' %}</li>
                  <li>{% trans 'Lorem' %}</li>
                  <li>{% trans 'Lorem' %}</li>
                  <li>{% trans "Lorem" %}</li>
                  <li>{% trans "Lorem" %}</li>
                  <li>{% trans 'Lorem' %}</li>
                </ul>
              </div>
              <div class="col">
                <h5>Product</h5>
                <ul class="no-bullet opacity-moon">
                  <li>{% trans 'Lorem' %}</li>
                  <li>{% trans 'Lorem' %}</li>
                  <li>{% trans 'Lorem' %}</li>
                  <li>{% trans "Lorem" %}</li>
                  <li>{% trans "Lorem" %}</li>
                  <li>{% trans 'Lorem' %}</li>
                </ul>
              </div>
              <div class="col">
                <h5>Support</h5>
                <ul class="no-bullet opacity-moon">
                  <li>{% trans 'Lorem' %}</li>
                  <li>{% trans 'Lorem' %}</li>
                  <li>{% trans 'Lorem' %}</li>
                  <li>{% trans "Lorem" %}</li>
                  <li>{% trans "Lorem" %}</li>
                  <li>{% trans 'Lorem' %}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  

{% endblock content %}

{% block script %}
    <script type="text/javascript">
      $(document).ready(function(){
        var maxField = 6; //Input fields increment limitation
        
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper

        // Extra User One
        var forename_surname_one = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Forename" class="form-label">{% trans "Forename" %}</label><input name="forename_one" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="{% blocktrans %}Forename{% endblocktrans %} "></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Surname" %}</label><input name="surname_one" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="{% blocktrans %}Surname{% endblocktrans %}"></div></div></div>'
        var dob_telephone_one = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Date of birth" class="form-label">{% trans "Date of birth" %}</label><input name="dob_one" type="date" class="form-control bg-transparent text-white p-3" id="" placeholder=""></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Telephone number" %}</label><input name="telephone_one" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="{% blocktrans %}Telephone number{% endblocktrans %}"></div></div></div>'; 
        var street_number_postal_one = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="StreetNumber" class="form-label">{% trans "Street + Number" %}</label><input name="street_number_one" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="{% blocktrans %}street & Number{% endblocktrans %}"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Postal Code City" class="form-label">{% trans "Postal code / city" %}</label><input name="postal_code_city_one"  type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="{% blocktrans %}Postal code / city{% endblocktrans %}"></div></div></div>';
        var hometown_nationality_one = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Hometown / Home country for non-Swiss" class="form-label">{% trans "Hometown / Home country for non-Swiss" %}</label><input name="hometown_one" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Nationality" class="form-label">Nationality</label><input name="nationality_one" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="{% blocktrans %}Telephone number{% endblocktrans %}"></div></div></div>';
        var email_share_capital_one = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="E-Mail" class="form-label">{% trans "E-Mail" %}</label><input name="email_one" type="email" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Share of share capital" class="form-label">{% trans "Share of share capital" %}</label><input name="share_capital_one" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var activity_Zeichnungsberechtigung_one = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Activity" class="form-label">{% trans "Activity" %}</label><input name="activity_one" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Zeichnungsberechtigung" %}</label><input name="unreadable_one" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';

        // Extra User Two
        var forename_surname_two = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Forename" %}</label><input name="forename_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Surname" %}</label><input name="surname_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>'
        var dob_telephone_two = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Date of birth" %}</label><input name="dob_two" type="date" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Telephone number" %}</label><input name="telephone_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>'; 
        var street_number_postal_two = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="StreetNumber" class="form-label">{% trans "Street + Number" %}</label><input name="street_number_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Postal Code City" class="form-label">{% trans "Postal code / city" %}</label><input name="postal_code_city_two"  type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var hometown_nationality_two = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Hometown / Home country for non-Swiss" class="form-label">{% trans "Hometown / Home country for non-Swiss" %}</label><input name="hometown_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Nationality" class="form-label">{% trans "Nationality" %}</label><input name="nationality_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var email_share_capital_two = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="E-Mail" class="form-label">{% trans "E-Mail" %}</label><input name="email_two" type="email" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Share of share capital" class="form-label">{% trans "Share of share capital" %}</label><input name="share_capital_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var activity_Zeichnungsberechtigung_two = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Activity" class="form-label">{% trans "Activity" %}</label><input name="activity_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Zeichnungsberechtigung" %}</label><input name="unreadable_two" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';

        // Extra User Three
        var forename_surname_three = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Forename" %}</label><input name="forename_three" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Surname" %}</label><input name="surname_three" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>'
        var dob_telephone_three = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Date of birth" %}</label><input name="dob_three" type="date" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Telephone number" %}</label><input name="telephone_three" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>'; 
        var street_number_postal_three = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="StreetNumber" class="form-label">{% trans "Street + Number" %}</label><input name="street_number_three" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Postal Code City" class="form-label">{% trans "Postal code / city" %}</label><input name="postal_code_city_three"  type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var hometown_nationality_three = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Hometown / Home country for non-Swiss" class="form-label">{% trans "Hometown / Home country for non-Swiss" %}</label><input name="hometown" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Nationality" class="form-label">{% trans "Nationality" %}</label><input name="nationality" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var email_share_capital_three = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="E-Mail" class="form-label">{% trans "E-Mail" %}</label><input name="email_three" type="email" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Share of share capital" class="form-label">{% trans "Share of share capital" %}</label><input name="share_capital_three" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var activity_Zeichnungsberechtigung_three = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Activity" class="form-label">{% trans "Activity" %}</label><input name="activity_three" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Zeichnungsberechtigung" %}</label><input name="unreadable_three" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';

        // Etra User Four
        var forename_surname_four = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Forename" %}</label><input name="forename_four" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Surname" %}</label><input name="surname_four" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>'
        var dob_telephone_four = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Date of birth" %}</label><input name="dob_four" type="date" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Telephone number" %}</label><input name="telephone_four" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>'; 
        var street_number_postal_four = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="StreetNumber" class="form-label">{% trans "Street + Number" %}</label><input name="street_number_four" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Postal Code City" class="form-label">{% trans "Postal code / city" %}</label><input name="postal_code_city_four"  type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var hometown_nationality_four = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Hometown / Home country for non-Swiss" class="form-label">{% trans "Hometown / Home country for non-Swiss" %}</label><input name="hometown_four" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Nationality" class="form-label">{% trans "Nationality" %}</label><input name="nationality_four" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var email_share_capital_four = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="E-Mail" class="form-label">{% trans "E-Mail" %}</label><input name="email_four" type="email" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Share of share capital" class="form-label">{% trans "Share of share capital" %}</label><input name="share_capital_four" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var activity_Zeichnungsberechtigung_four = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Activity" class="form-label">{% trans "Activity" %}</label><input name="activity_four" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Zeichnungsberechtigung" %}</label><input name="unreadable_four" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';

        // Extra User Five
        var forename_surname_five = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Forename" %}</label><input name="forename_five" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Surname" %}</label><input name="surname_five" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>'
        var dob_telephone_five = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Date of birth" %}</label><input name="dob_five" type="date" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Telephone number" %}</label><input name="telephone_five" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>'; 
        var street_number_postal_five = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="StreetNumber" class="form-label">{% trans "Street + Number" %}</label><input name="street_number_five" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Postal Code City" class="form-label">{% trans "Postal code / city" %}</label><input name="postal_code_city_five"  type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var hometown_nationality_five = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Hometown / Home country for non-Swiss" class="form-label">{% trans "Hometown / Home country for non-Swiss" %}</label><input name="hometown_five" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Nationality" class="form-label">{% trans "Nationality" %}</label><input name="nationality_five" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var email_share_capital_five = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="E-Mail" class="form-label">{% trans "E-Mail" %}</label><input name="email_five" type="email" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Share of share capital" class="form-label">{% trans "Share of share capital" %}</label><input name="share_capital_five" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';
        var activity_Zeichnungsberechtigung_five = '<div class="row justify-content-center"><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="Activity" class="form-label">{% trans "Activity" %}</label><input name="activity_five" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div><div class="col-md-6 col-lg-6 col-sm-12"><div class="mb-3"><label for="" class="form-label">{% trans "Zeichnungsberechtigung" %}</label><input name="unreadable_five" type="text" class="form-control bg-transparent text-white p-3" id="" placeholder="Lorem Ipsum"></div></div></div>';

        var x = 0; //Initial field counter is 1
        
        //Once add button is clicked
        $(addButton).click(function(){
            //Check maximum number of input fields
            if(x < maxField){ 
                x++; //Increment field counter
                if (x <= 1) {
                  //Add field html
                  $(wrapper).append(forename_surname_one); 
                  $(wrapper).append(dob_telephone_one); 
                  $(wrapper).append(street_number_postal_one); 
                  $(wrapper).append(email_share_capital_one); 
                  $(wrapper).append(activity_Zeichnungsberechtigung_one);
                } else if (x <= 2) {
                  //Add field html
                  $(wrapper).append(forename_surname_two); 
                  $(wrapper).append(dob_telephone_two); 
                  $(wrapper).append(street_number_postal_two); 
                  $(wrapper).append(email_share_capital_two); 
                  $(wrapper).append(activity_Zeichnungsberechtigung_two);
                }  else if (x <= 3) {
                  //Add field html
                  $(wrapper).append(forename_surname_three); 
                  $(wrapper).append(dob_telephone_three); 
                  $(wrapper).append(street_number_postal_three); 
                  $(wrapper).append(email_share_capital_three); 
                  $(wrapper).append(activity_Zeichnungsberechtigung_three);
                } else if (x <= 4) {
                  //Add field html
                  $(wrapper).append(forename_surname_four); 
                  $(wrapper).append(dob_telephone_four); 
                  $(wrapper).append(street_number_postal_four); 
                  $(wrapper).append(email_share_capital_four); 
                  $(wrapper).append(activity_Zeichnungsberechtigung_four);
                } else if (x <= 5) {
                  //Add field html
                  $(wrapper).append(forename_surname_five); 
                  $(wrapper).append(dob_telephone_five); 
                  $(wrapper).append(street_number_postal_five); 
                  $(wrapper).append(email_share_capital_five); 
                  $(wrapper).append(activity_Zeichnungsberechtigung_five);
                } else if (x >= 6) {
                  swal({
                    title: "You are not able to add more person on this form, feel free to contact with our support center.!",
                    icon: "warning",
                    dangerMode: false,
                  });
                }
            }
        });
      });
    </script>
{% endblock script %}