{% extends 'core/master.html' %}

{% block navbar %}{% include 'partials/navbar.html' %}{% endblock navbar %}

{% block content %}

    <div class="container login-container mt-5 pt-5" >
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-7 col-sm-4">
                <div class="card mt-5" style="margin-top: 1.6rem !important; background-color: #232730; border-radius: 1rem; color: #ffffff;">
                    <div class="card-body">
                        <h3>Congratulations! Your password reset completed</h3> <hr>
                        <p>Your new password has been set. You can log in now on the <a href="{% url 'admin:index' %}">log in page</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
