{% extends 'core/master.html' %}
{% load crispy_forms_tags %}

{% block navbar %}{% include 'partials/navbar.html' %}{% endblock navbar %}


{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-5 col-lg-5">
      <div class="container mt-5 pt-5">
        <div class="card p-3 h-100" style="background-color: #232730; border-radius: 1rem; color: #ffffff;">
          <div class="card-body">
            <h1>Forgot your password?</h1> <hr/>
            <p>Enter your email address below, and we'll email instructions for setting a password.</p>
    
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" value="Send me instructions!" class='btn btn-secondary' style="background: #282828">
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}
