{% extends 'core/master.html' %}
{% load crispy_forms_tags %}

{% block navbar %}{% include 'partials/navbar.html' %}{% endblock navbar %}


{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-5 col-lg-5">
      <div class="container mt-5 pt-5">
        <div class="card p-3" style="margin-top: 1.6rem !important; background-color: #232730; border-radius: 1rem; color: #ffffff; ">
          <div class="card-body">
            <h1 class='text-center'>Enter new password</h1><hr>
            {% if validlink %}
              <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Change my password" class='btn btn-secondary' style="background: #282828">
              </form>

              {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
              {% endif %}
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}


